@model IEnumerable<Crud.Core.Models.Post>

@{
	ViewBag.Title = "Index";
}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">Post List</h3>
		<a href="@Url.Action("Create", "Post")" class="btn btn-warning">New Post</a>
	</div>
	<br />
	<!-- /.card-header -->
	<div class="card-body table-responsive p-0">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.Title)</th>
					<th>@Html.DisplayNameFor(model => model.Description)</th>
					<th>@Html.DisplayNameFor(model => model.Category)</th>
					<th></th>
					<th></th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Title)
						</td>
						<td>
							@{

								string x = item.Description;

								if (x != null && x.Length > 200)
								{
									x = x.Substring(0, 200);
								}
							}

							@Html.Raw(x)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Category)
						</td>
						<td></td>
						<td><a href="@Url.Action("Edit", "Post", new { id = item.Id })" class="btn btn-primary">Edit</a></td>
						<td><a href="@Url.Action("Delete", "Post", new { id = item.Id })" class="btn btn-danger">Delete</a></td>
						<td><a href="@Url.Action("Details", "Post", new { id = item.Id })" class="btn btn-success">Detail</a></td>

					</tr>
				}
			</tbody>
		</table>
	</div>
	<!-- /.card-body -->
</div>